@import "../node_modules/bootstrap/scss/functions";

$primary: #fb5830;
$secondary: #d0021c;
$input-font-size: 0.8rem;

@import "../node_modules/bootstrap/scss/variables";


// @import "../node_modules/bootstrap/scss/utilities";



@import "../node_modules/bootstrap/scss/bootstrap";